<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/planets" routerLinkActive="active">Planets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/missions" routerLinkActive="active">Missions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/discoveries" routerLinkActive="active">Discoveries</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
